services:
  # Ollama LLM Service
  ollama:
    image: ollama/ollama:0.3.11
    container_name: ollama
    expose:
      - "11434" 
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - ollama_net

  grpc-server:
    build:
      context: ..
      dockerfile: docker/Dockerfile.server
    container_name: llm-grpc-server
    ports:
      - "50051:50051"
    env_file:
      - ../.env
    networks:
      - ollama_net
    depends_on:
      - ollama

volumes:
  ollama_data:
    name: ollama_data
    external: false

networks:
  ollama_net:
    name: ollama_net
    driver: bridge
